* {
  height: 75px;
  margin: 0px;
}

:root {
  --dark: rgb(78, 70, 70);
  --light: rgb(78, 70, 70);
  --maintext: black;
}

body {
  background-color: rgb(107, 106, 106);
}

a {
  color: black;
  text-decoration: none;
  background-color: rgb(49, 49, 49);
  padding: 5px 4px;
  border-radius: 4px;
}

a:hover {
  color: red;
}

header {
  padding: 10px;
  font-family: "Arial";
  background-color: rgb(78, 70, 70);
  color: black;
  border-radius: 0 0 5px 5px;
}

.header h1 {
  padding: 10px;
  display: inline-block;
  font-size: 48px;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Calibri";
  font-size: 30px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.photo {
  width: 1250px;
  height: 550px;
  margin: -180px 0px 0px -300px;
} 



p {
  font-size: 25px;
}

h2 {
  max-width: 850px;
  font-weight: initial;

}

.about-me {
  margin-top: 75px;
  margin-bottom: 10px;
  padding: 40px;
  height: 500px;
  font-family: "Calibri";
  background-color: var(--light);
  color: var(--maintext);
}

img {
  margin-top: -95px;
  float: right;
  height: 400px;
  width: 400px;
  border-radius: 25px;
}

.projects {
  margin-top: 75px;
  margin-bottom: 10px;
  padding: 40px;
  height: 500px;
  font-family: "calibri";
  background-color: var(--dark);
  color: var(--maintext);
}

.contact-info {
  margin-top: 75px;
  margin-bottom: 10px;
  padding: 40px;
  height: 500px;
  font-family: "calibri";
  background-color: var(--light);
  color: var(--maintext);
}

h1 {
  font-size: 55px;
}

footer {
}

@media (max-width: 768px) {
  body {
    flex-direction: inline-wrap; 
    order: 1;
  }
}

@media (min-width: 600px) {
  body {
    padding-left: -50px;
  }
  header h1 {
    font-size: 15px;
  }

}
